@model Expense_Tracker.Models.Category

@{
    ViewData["PageTitle"] = Model.CategoryId == 0 ? "Crear nueva categoría" : "Editar categoría";
}

<div class="row">
<div class="col-md-7">
    <div class="widget p-5" style="background-color:#212b36">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
            <div class="mb-3">
                <div class='btn-group custom-rbt-group w-100' role="group">
                    <input type="radio" class="btn-check" id="radioleft" name="Type" value="Expense" @(Model.Type=="Expense" ? "checked" : "") />
                    <label class="btn btn-outline-light" for="radioleft">Gasto</label>
                    <input type="radio" class="btn-check" id="radiomiddle" name="Type" value="Income" @(Model.Type=="Income" ? "checked" : "") />
                    <label class="btn btn-outline-light" for="radiomiddle">Ingreso</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control bg-dark text-white border-secondary" 
                       id="title" name="Title" value="@Model.Title" placeholder="Título" />
                <span asp-validation-for="Title" class="text-danger fs-6"></span>
            </div>
            <div class="mb-3">
                <label for="icon" class="form-label">Ícono</label>
                <input type="text" class="form-control bg-dark text-white border-secondary" 
                       id="icon" name="Icon" value="@Model.Icon" placeholder="Ícono (emoji)" />
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>


</div>
<div class="col-md-5">
    <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
        <i class="fa-solid fa-shapes fa-2xl"></i>
    </div>
</div>
</div>
